* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}
*::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: #a3a3a3;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
#app #header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  background-color: rgba(1, 102, 255, 0.8);
}
#app #header #header-inner {
  position: relative;
  height: 60px;
  margin: 0 auto;
}
#app #header #header-inner #name {
  position: absolute;
  top: 0;
  left: 10px;
}
#app #header #header-inner #name a {
  font-size: 24px;
  line-height: 80px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
#app #header #header-inner #tab {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app #header #header-inner #tab li {
  padding: 0 12px;
}
#app #header #header-inner #tab li a {
  font-size: 16px;
  line-height: 80px;
  font-weight: 400;
  color: #fff;
}
#app #header #header-inner #tab li a:hover {
  text-decoration: underline;
}
#app #aside {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 99;
  width: 240px;
  height: 100%;
  background-color: rgba(237, 244, 255);
  box-shadow: 0 0 10px rgba(1, 102, 255, 0.2);
  overflow: auto;
}
#app #aside #aside-inner ul .lg {
  width: 100%;
}
#app #aside #aside-inner ul .lg a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 102, 255, 0.07);
  font-size: 16px;
  line-height: 70px;
  color: #222;
  padding: 0 20px;
}
#app #aside #aside-inner ul .lg a:hover {
  background-color: #0166ff;
  color: #fff;
}
#app #aside #aside-inner ul .lg a span {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 16px;
  line-height: 70px;
}
#app #aside #aside-inner ul .lg .md {
  display: none;
}
#app #aside #aside-inner ul .lg .md li {
  width: 100%;
  height: 50px;
}
#app #aside #aside-inner ul .lg .md li a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 50px;
  color: #222;
  padding: 0 30px;
}
#app #aside #aside-inner ul .lg .md li a:hover {
  background-color: #0166ff;
  color: #fff;
}
#app #aside #aside-inner .dibu {
  width: 100%;
  height: 120px;
  line-height: 40px;
  text-align: center;
}
#app #aside #aside-inner .dibu a {
  color: rgba(0, 0, 0, 0.3);
}
#app #section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 80px;
  left: 240px;
  width: calc(100% - 240px);
  min-width: 800px;
  height: calc(100% - 80px);
  background-color: rgba(1, 102, 255, 0.05);
  padding: 10px 10px 80px;
}
#app #section section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  text-align: center;
}
#app #section section h2 {
  font-size: 28px;
  margin-top: 30px;
}
#app #section section input {
  width: 80%;
  height: 60px;
  background-color: #fff;
  border: 0;
  outline: 0;
  border: 2px solid #0166ff;
  border-radius: 60px;
  text-align: center;
  padding: 15px 25px;
  margin-top: 30px;
}
#app #section section button {
  width: 80%;
  height: 60px;
  background-color: #0166ff;
  border: 0;
  outline: 0;
  border-radius: 60px;
  color: #fff;
  padding: 15px;
  margin-top: 30px;
}
#app #section section button:hover {
  cursor: pointer;
}
#app #section section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30px;
  margin-top: 30px;
}
#app #section section ul li {
  margin: 0 10px;
}
#app #section section ul li a img {
  width: 30px;
  height: 30px;
}
#app #section #zhu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(1, 102, 255, 0.05);
  font-size: 14px;
  line-height: 40px;
  color: #808080;
  text-align: center;
}
