* {
  box-sizing: border-box;
}
#app {
  padding: 20px;
  text-align: center;
}
h2 {
  color: #ff9a9e;
  margin: 20px 0 30px;
}
.search {
  position: relative;
  width: 220px;
  height: 40px;
  padding: 0;
  margin: 0 auto 30px;
}
.search #ipt {
  width: 220px;
  height: 40px;
  border: 1px solid #ff9a9e;
  border-radius: 6px;
  padding: 0 50px 0 12px;
  margin: 0;
  outline: 0;
}
.search #btn {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 40px;
  height: 28px;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  border: 0;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 100;
  color: #fff;
  padding: 0;
  margin: 0;
}
.search #btn:hover {
  cursor: pointer;
}
ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}
ul li {
  width: 220px;
  height: 80px;
  /* background-color: pink; */
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  border-radius: 10px;
  margin-bottom: 30px;
  list-style: none;
}
ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
ul li a p {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 80px;
  text-align: center;
  margin: 0;
}
#zhu {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 50px;
}
