* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  text-align: center;
  background-color: #fff;
}
#app #header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #1a73e8;
}
#app #header h2 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
#app #search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #eee;
  padding: 0 15px;
}
#app #search #ipt {
  flex: 1;
  height: 30px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  color: #222;
  text-align: center;
  margin-top: 8px;
  padding: 0 15px;
  outline: 0;
}
#app #search #btn {
  width: 60px;
  height: 30px;
  background-color: #1a73e8;
  border: 0;
  border-radius: 15px;
  color: #fff;
  margin-left: 8px;
  margin-top: 8px;
}
#app #tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40px;
}
#app #tabs li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  list-style: none;
}
#app #tabs li a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #eee;
  font-size: 16px;
  line-height: 40px;
  color: #222;
  text-decoration: none;
}
#app #tabs li a:hover {
  background-color: #e0e0e0;
}
#app #section #dianshi,
#app #section #sheji,
#app #section #daima,
#app #section #keji {
  display: none;
}
#app #section ul {
  display: flex;
  flex-direction: column;
}
#app #section ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgba(26, 115, 232, 0.6);
  border-radius: 6px;
  margin: 15px;
  list-style: none;
}
#app #section ul li:nth-child(n + 2) {
  margin-top: 0;
}
#app #section ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 80px;
  color: #fff;
  text-decoration: none;
}
#app #zhu {
  width: 100%;
  height: 20px;
  margin: 50px 0 20px;
}
#app #zhu p {
  font-size: 14px;
  color: #ccc;
}
