* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
#app {
  position: relative;
  text-align: center;
  background-color: #eee;
}
#app #header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #3485ff;
}
#app #header h2 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
#app #header .icon-clock,
#app #header .icon-music,
#app #header .icon-search {
  position: absolute;
  top: 0;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
}
#app #header .icon-clock {
  left: 15px;
}
#app #header .icon-music {
  left: 45px;
}
#app #header .icon-search {
  right: 15px;
}
#app #banner {
  width: 100%;
}
#app #banner img {
  width: 100%;
  opacity: 0.8;
}
#app #section h3 {
  line-height: 40px;
}
#app #section ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
#app #section ul li {
  width: 22%;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 5px 10px;
}
#app #section ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: #222;
  padding: 12px;
  text-decoration: none;
}
#app #section ul li a img {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
}
#app #zhu {
  width: 100%;
  height: 20px;
  margin: 50px 0 0;
}
#app #zhu p {
  font-size: 12px;
  color: #ccc;
}
