* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  position: relative;
  text-align: center;
  background-color: #fff;
}
#app #header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #1a73e8;
}
#app #header h2 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
#app #header .icon-clock,
#app #header .icon-search {
  position: absolute;
  top: 0;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
}
#app #header .icon-clock {
  left: 15px;
}
#app #header .icon-search {
  right: 15px;
}
#app #tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
}
#app #tabs li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  background-color: #eee;
  list-style: none;
}
#app #tabs li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 80px;
  color: #222;
  text-decoration: none;
}
#app #section #dianshi,
#app #section #keji,
#app #section #sheji,
#app #section #daima {
  display: none;
}
#app #section section {
  padding: 15px;
}
#app #section section ul {
  display: flex;
  flex-wrap: wrap;
}
#app #section section ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80px;
  background-color: rgba(26, 115, 232, 0.6);
  border-radius: 6px;
  margin-bottom: 10px;
  list-style: none;
}
#app #section section ul li:nth-child(2n + 1) {
  width: calc(50% - 10px);
  margin-right: 10px;
}
#app #section section ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 80px;
  color: #fff;
  text-decoration: none;
}
#app #contact {
  margin-top: 50px;
}
#app #contact h4 {
  line-height: 50px;
}
#app #contact a {
  color: #1a73e8;
  padding: 15px;
  text-decoration: none;
}
#app #zhu {
  width: 100%;
  height: 20px;
  margin: 50px 0 20px;
}
#app #zhu p {
  font-size: 14px;
  color: #ccc;
}
