* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 150px 40px;
}
#app #return {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
}
#app #return span {
  font-size: 20px;
  color: #222;
}
#app h2 {
  line-height: 60px;
  font-size: 30px;
  font-weight: 700;
  color: #222;
}
#app #ipt {
  width: 100%;
  height: 60px;
  border: 1px solid #808080;
  border-radius: 100px;
  outline: 0;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}
#app #btn {
  width: 100%;
  height: 60px;
  background-color: #1a73e8;
  color: #fff;
  border: 0;
  border-radius: 100px;
  padding: 20px;
  text-align: center;
}
#app ul {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
#app ul li {
  list-style: none;
  margin: 0 9px;
}
#app ul li a img {
  width: 30px;
  height: 30px;
}
